.container-fluid {
    background: url(../assets/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    background: url(../assets/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 100%;
}

.url__form {
    font: 16px/2em Lato, serif;
    margin: 100px auto;
    max-width: 600px;
    font-family: cursive, sans-serif !important;
}

div[role=url] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

div[role=url] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}

div[role=url] input,
div[role=url] button {
    font-size: 18px;
    margin: 16px 0;
}

div[role=url]>div {
    text-align: center;
}

.footer {
    position: absolute;
    width: 100%;
    font-size: 14px;
    bottom: 0;
    background-color: #01000b;
    color: #fff;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.form img {
    margin: 10px auto;
    display: block;
}

.form h3 {
    text-align: 100px;
    position: relative;
    margin-bottom: 1em;
    margin-top: 30px;
    color: #031b4e;
}

.form h3::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    margin: auto;
    width: 200px;
    height: 2px;
    background: #3f5dfb;
}

#header__title {
    margin: 80px auto;
    display: block;
}

#header__logo {
    margin: 50px auto;
    display: block;
}

#header__text {
    margin: auto;
    display: block;
}

.search__header {
    margin: 60px auto;
    text-align: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #3f5dfb;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.report {
    font-family: cursive, sans-serif !important;
    margin: 100px auto;
    max-width: 1200px;
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 26px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

table {
    font-size: 20px;
}

table td {
    height: 50px;
}

table input {
    border: 1px solid #cdcdcd;
    padding: 0.4em 0.8em;
    border-left: 4px solid #031b4e;
    border-radius: 4px;
    width: 80%;
    background: #f2f2f2;
}

.result__alert {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.result__chart {
    float: left;
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
}

.chart {
    padding-left: 25%;
    padding-right: 25%;
}

.result__screenshot {
    text-align: center;
}

.subtitle {
    font-size: 18px;
    margin-bottom: 2rem;
    font-weight: bold;
}